<!DOCTYPE html>
<html lang="en">
	<%~ include('../components/head.html', it) %>
	<body>
		<div id="layout">
			<%~ include('../components/menu.html', it) %>
			<div id="main">
				<%~ include('../components/header.html', it) %>
				<div <% if (it.build) { %>
					id="content" <% } %> class="content"> <%/*
					<!--MAIN, ARCHIVE AND TAG ROUTE-->
					*/%> <% if (it.mainRoute || it.archiveRoute || it.tagRoute) { %>
					<!-- Start Post(s) Listing -->
					<%~ include('./index.html', it) %>
					<!-- End Post(s) Listing -->
					<% } %> <%/*
					<!--MARKDOWN ROUTE-->
					*/%> <% if (it.mdRoute) { %>
					<!-- Start Markdown file content -->
					<%~ include('./markdown-files-template.html', it) %>
					<!-- End Markdown file content -->
					<% } %> <%/*
					<!--TAGS ROUTE-->
					*/%> <% if (it.tagsRoute) { %>
					<!-- Start list of tags with count -->
					<%~ include('./count-posts-by-tag.html', it) %>
					<!-- End list of tags with count -->
					<% } %> <%/*
					<!--SEARCH ROUTE-->
					*/%> <% if (it.searchRoute) { %>
					<!-- Start search page content -->
					<%~ include('./search.html', it) %>
					<!-- End search page content -->
					<% } %> <%/*
					<!-- ERROR ROUTE -->
					*/%> <% if (it.errorRoute) { %>
					<!-- Start error route content -->
					<img src="<%= it.imageSrc %>" alt="<%= it.imageAlt %>" />
					<%~ include('../components/back-to-home.html') %>
					<!-- End error route content -->
					<% } %>
				</div>
			</div>
		</div>
		<!--Start footer-->
		<%~ include('../components/footer.html', it) %>
		<!--End footer-->
	</body>
</html>
