* {
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	color: #595959;
}
.pure-img-responsive {
	max-width: 100%;
	height: auto;
}
#layout {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: relative;
	left: 0;
	padding-left: 0;
}
#menu {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	margin-left: -150px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	overflow-y: auto;
	a {
		color: #999;
		border: none;
		padding: 0.6em 0 0.6em 0.6em;
	}
	.pure-menu {
		border: none;
		background: transparent;
		ul {
			border: none;
			background: transparent;
			border-top: 1px solid #333;
		}
		.menu-item-divided {
			border-top: 1px solid #333;
		}
		li {
			a {
				&:hover {
					background: #333;
				}
				&:focus {
					background: #333;
				}
			}
		}
	}
	.pure-menu-selected {
		background: #155d8e;
		a {
			color: #fff;
		}
	}
	.pure-menu-heading {
		background: #155d8e;
		font-size: 110%;
		color: #fff;
		margin: 0;
	}
}
.menu-link {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	font-size: 10px;
	z-index: 10;
	width: 2em;
	height: auto;
	padding: 2.1em 1.6em;
	box-sizing: initial;
	&:hover {
		background: #000;
	}
	&:focus {
		background: #000;
	}
	span {
		position: relative;
		display: block;
		background-color: #fff;
		pointer-events: none;
		width: 100%;
		height: 0.2em;
		&:before {
			background-color: #fff;
			pointer-events: none;
			width: 100%;
			height: 0.2em;
			position: absolute;
			margin-top: -0.6em;
			content: " ";
		}
		&:after {
			background-color: #fff;
			pointer-events: none;
			width: 100%;
			height: 0.2em;
			position: absolute;
			margin-top: -0.6em;
			content: " ";
			margin-top: 0.6em;
		}
	}
}
#layout.active {
	#menu {
		left: 150px;
		width: 150px;
	}
	.menu-link {
		left: 150px;
	}
}
.content {
	margin: 45px auto;
	padding: 0 2em;
	max-width: 800px;
	line-height: 1.6em;
	h2 {
		margin: 50px 0 20px 0;
		font-weight: 300;
		color: #888;
	}
}
.header {
	margin: 0;
	color: #333;
	text-align: center;
	padding: 2.5em 2em 0;
	border-bottom: 1px solid #eee;
	h1 {
		margin: 0.2em 0;
		font-size: 3em;
		font-weight: 300;
	}
	h2 {
		font-weight: 300;
		color: #757575;
		padding: 0;
		margin-top: 0;
	}
}
.content-subhead {
	margin: 50px 0 20px 0;
	font-weight: 300;
	color: #888;
}
.btn {
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	color: black;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
}
.footer {
	border-top: 1px solid #eee;
	padding: 1em;
	background-color: #fafafa;
	text-align: center;
	margin-top: auto;
}
@media (min-width: 48em) {
	.header {
		padding-left: 2em;
		padding-right: 2em;
	}
	.content {
		padding-left: 2em;
		padding-right: 2em;
	}
	#layout {
		padding-left: 150px;
		left: 0;
	}
	#menu {
		left: 150px;
	}
	.menu-link {
		position: fixed;
		left: 150px;
		display: none;
	}
	#layout.active {
		.menu-link {
			left: 150px;
		}
	}
	.footer {
		margin-left: 150px;
	}
}
@media (max-width: 48em) {
	html.active {
		overflow-x: hidden;
	}
	#layout.active {
		position: relative;
		left: 150px;
	}
	.footer.active {
		margin-left: 150px;
	}
}
.gg-external {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	transform: scale(var(--ggs, 1));
	width: 12px;
	height: 12px;
	box-shadow: -2px 2px 0 0, -4px -4px 0 -2px, 4px 4px 0 -2px;
	margin: 1px 5px 0px;
	&::before {
		background: currentColor;
		transform: rotate(-45deg);
		width: 12px;
		height: 2px;
		top: 1px;
	}
	&::after {
		width: 8px;
		height: 8px;
		border-right: 2px solid;
		border-top: 2px solid;
		top: -4px;
	}
}
.gg-external::after,
.gg-external::before {
	content: "";
	display: block;
	box-sizing: border-box;
	position: absolute;
	right: -4px;
}
