<!DOCTYPE html>
<html lang="en">
	<%~ include('../components/head.html', it) %>
	<body class="theme-light">
		<div class="page">
			<%~ include('../components/menu.html', it) %>

			<div class="page-wrapper">
				<%~ include('../components/page-header.html', it) %>
				<div class="page-body">
					<div class="container-xl">
						<div class="row m-auto mb-3">
							<form action="/save-image" method="post">
								<div class="col-md-6 col-lg-4">
									<label for="add-image">
										<b>Add up to 3 images at once. An image cannot exceed 3MB</b>
									</label>
									<input
										type="file"
										accept="image/*"
										multiple
										name="images"
										id="add-image"
										class="form-file-button"
										data-max-file-size="3MB"
										data-max-files="3"
										required
									/>
								</div>

								<button class="btn btn-primary" type="submit">
									<svg
										xmlns="http://www.w3.org/2000/svg"
										class="icon icon-tabler icon-tabler-checkbox"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										stroke-width="2"
										stroke="currentColor"
										fill="none"
										stroke-linecap="round"
										stroke-linejoin="round"
									>
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M9 11l3 3l8 -8"></path>
										<path
											d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"
										></path>
									</svg>
									Add image(s)
								</button>
							</form>
						</div>

						<div class="row row-cards m-auto mt-3">
							<% it.images.forEach(image => { %>
							<div class="col-sm-4 col-lg-3 col-xl-2">
								<div class="card card-sm">
									<a data-fslightbox href="/<%= image %>" class="d-block">
										<style>
											.card-img-top {
												height: 200px;
												object-fit: cover;
											}
										</style>
										<img src="/<%= image %>" class="card-img-top" />
									</a>
									<div class="card-body">
										<% const imageName = image.split("/").pop() %>
										<span><%= imageName %></span>
									</div>
									<div class="card-footer">
										<button class="btn btn-danger delete-button">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												class="icon icon-tabler icon-tabler-trash"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												stroke-width="2"
												stroke="currentColor"
												fill="none"
												stroke-linecap="round"
												stroke-linejoin="round"
											>
												<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
												<path d="M4 7l16 0"></path>
												<path d="M10 11l0 6"></path>
												<path d="M14 11l0 6"></path>
												<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
												<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
											</svg>
											DELETE !
										</button>
									</div>
								</div>
							</div>
							<% }) %>
						</div>
					</div>
				</div>
				<%~ include('../components/footer.html') %>
			</div>
		</div>
		<%~ include('../components/adminScripts.html', it) %>
		<script>
			const pathName = window.location.pathname

			// We want to preview images, so we need to register the Image Preview plugin
			FilePond.registerPlugin(
				// encodes the file as base64 data
				FilePondPluginFileEncode,

				// validates the type of the file
				FilePondPluginFileValidateType,

				// validates the size of the file
				FilePondPluginFileValidateSize,

				// corrects mobile image orientation
				FilePondPluginImageExifOrientation,

				// previews dropped images
				FilePondPluginImagePreview
			)

			// Select the file input and use create() to turn it into a pond
			FilePond.create(document.querySelector("input[type='file']"), {
				// Only accept images
				acceptedFileTypes: ["image/*"],
			})
			FilePond.setOptions({
				server: pathName == "/admin/gallery/icons" ? "/add/icon" : "/add/image",
			})

			const deleteButtons = document.querySelectorAll(".delete-button")
			deleteButtons.forEach((deleteButton) => {
				const imageName = deleteButton.parentElement.previousElementSibling.innerText
				deleteButton.addEventListener("click", () => {
					Swal.fire({
						title: `Delete ${imageName} ?!`,
						html: `By clicking on <b>Delete</b>,
						<br />
						<b>${imageName}</b> will be deleted,
						<br />
						this is IRREVERSIBLE !
						<br />
						This file will be FOREVER LOST if you proceed !
						<form class="d-none" id="delete-image" action="/delete-image" method="post">
						<input type="text" name="imageName" id="image-name" value="${imageName}" />
						</form>`,
						icon: "warning",
						showCancelButton: true,
						confirmButtonText: "Delete",
						didOpen: () => {
							const deleteImage = document.getElementById("delete-image")
							const b = Swal.getConfirmButton()
							b.type = "button"
							b.addEventListener("click", () => {
								deleteImage.submit()
							})
						},
					})
				})
			})

			fsLightbox.props.exitFullscreenOnClose = true
		</script>
	</body>
</html>
