<!DOCTYPE html>
<html lang="en">
	<%~ include('../components/head.html', it) %>
	<body class="theme-light">
		<div class="page">
			<%~ include('../components/menu.html', it) %>

			<div class="page-wrapper">
				<%~ include('../components/page-header.html', it) %>
				<div class="page-body">
					<div class="container-xl">
						<div class="row">
							<div class="col-12">
								<div class="card">
									<% if (it.pagesTable) { %>
									<span id="pages-data" class="d-none"><%= JSON.stringify(it.pages) %></span>
									<% } else { %>
									<span id="posts-data" class="d-none"><%= JSON.stringify(it.posts) %></span>
									<% } %>

									<div id="admin-table"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<%~ include('../components/footer.html') %>
			</div>
		</div>
		<%~ include('../components/adminScripts.html', it) %>
	</body>
</html>
