<!DOCTYPE html>
<html lang="en">
	<%~ include('../components/head.html', it) %>
	<body class="theme-light">
		<div class="page">
			<%~ include('../components/menu.html', it) %>

			<div class="page-wrapper">
				<%~ include('../components/page-header.html', it) %>
				<div class="page-body">
					<form id="file-form" action="/admin-create" method="post">
						<div class="container-xl">
							<div class="card">
								<div class="card-body">
									<div class="row m-auto mb-3">
										<div class="col-md-4 col-lg-3">
											<label for="file-type-select" class="form-label">File type</label>
											<select class="form-select" name="fileType" id="file-type-select" required>
												<option value="">Please choose a file type</option>
												<option value="page">Page</option>
												<option value="post">Post</option>
												<!-- <option value="template">Template</option> -->
											</select>
										</div>
									</div>

									<div class="row m-auto">
										<%/* PAGE FRONT MATTER */%>
										<div id="page-front-matter" class="col-lg-6 d-none">
											<div>
												<label for="page-title-input" class="form-label">
													<b>Page title* - REQUIRED !</b>
												</label>
												<div class="invalid-tooltip position-relative">
													Page title cannot be empty !
												</div>
												<input
													type="text"
													name="pageTitle"
													id="page-title-input"
													class="form-control"
													placeholder="Type your page title here"
													required
												/>
											</div>

											<div>
												<label for="page-description-input" class="form-label">
													<b>Page description* - REQUIRED !</b>
												</label>
												<div class="invalid-tooltip position-relative">
													Page description cannot be empty !
												</div>
												<input
													type="text"
													name="pageDescription"
													id="page-description-input"
													class="form-control"
													placeholder="Describe your page's content shortly"
													required
												/>
											</div>

											<div><%~ include('../components/modals/pageImageModal.html', it) %></div>
										</div>

										<%/* POST FRONT MATTER */%>
										<div id="post-front-matter" class="col-lg-6 d-none">
											<div>
												<label for="post-title-input" class="form-label">
													<b>Post title* - REQUIRED !</b>
												</label>
												<div class="invalid-tooltip position-relative">
													Post title cannot be empty !
												</div>
												<input
													type="text"
													name="postTitle"
													id="post-title-input"
													class="form-control"
													placeholder="Type your post title here"
													required
												/>
											</div>

											<div>
												<label for="post-date-input" class="form-label">
													<b>Post Date* - REQUIRED !</b>
												</label>
												<div class="invalid-tooltip position-relative">
													A post must have a date !
												</div>
												<input
													type="date"
													name="postDate"
													id="post-date-input"
													class="form-control"
													required
												/>
											</div>

											<div>
												<label for="post-description-input" class="form-label">
													Post description - Optional, better for SEO
												</label>
												<input
													type="text"
													name="postDescription"
													id="post-description-input"
													class="form-control"
													placeholder="Describe your post's content shortly"
												/>
											</div>

											<div><%~ include('../components/modals/postImageModal.html', it) %></div>

											<div>
												<label for="post-tags-input" class="form-label">
													Post tag(s) - Optional, better for categorizing
												</label>
												<input
													type="text"
													name="postTags"
													id="post-tags-input"
													class="form-control"
													placeholder="Coffee, Mood, Wall-Decor, JS-Party"
												/>
											</div>
										</div>
									</div>
									<div class="my-3">
										<label class="form-label">Markdown editor</label>
										<%/* TOAST UI EDITOR */%>
										<div id="editor"></div>

										<%/* Hidden textarea to get the content from the above editor */%>
										<div class="d-none">
											<textarea
												name="fileContents"
												id="file-contents"
												rows="10"
												class="form-control"
											></textarea>
										</div>
									</div>
								</div>

								<div class="card-footer">
									<button id="submit-button" type="button" class="btn btn-primary">Submit</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<%~ include('../components/footer.html') %>
			</div>
		</div>
		<%~ include('../components/adminScripts.html', it) %>
	</body>
</html>
