<header>
	<header-components-container data-sm="2column">
		<header-logo data-sm="middle"><img src="/static/admin/images/logo.svg" alt="Blog-Doc SVG Logo" /></header-logo>

		<header-links data-sm="column pad gap" data-md="3column" data-lg="noPad">
			<a href="/" target="_blank">{{siteTitle}}</a>
			<build-and-zip-button data-sm="hide" data-md="show center">
				<button class="build-and-zip-button bd-button-light" style="height: auto" type="button">
					Build and Zip
				</button>
			</build-and-zip-button>
			<a data-lg="right" href="https://github.com/LebCit/blog-doc" target="_blank">Code</a>
		</header-links>
	</header-components-container>
</header>
