<div class="footer">
	<div class="pure-g">
		<div class="pure-u-1">
			<p class="copyright">
				App built with ❤️ by
				<a href="https://lebcit.github.io/">LebCit</a>
			</p>
		</div>
	</div>
</div>
<% if (locals.build && locals.searchJs) { %>
	<script src="js/search.js"></script>
<% } %>
<% if (locals.build) { %>
	<script src="js/main.js"></script>
<% } else if (locals.dynamic) { %>
	<script src="../js/main.js"></script>
<% } else { %>
	<script src="/js/main.js"></script>
<% } %>
	</body>
</html>
