<div class="footer">
	<div class="pure-g">
		<div class="pure-u-1">
			<p class="copyright">
				App built with ❤️ by
				<a href="https://lebcit.github.io/">LebCit</a>
			</p>
		</div>
	</div>
</div>
<script src="/js/main.js"></script>
	</body>
</html>
