<link rel="stylesheet" href="/static/styles/pagination.css" />
<%/*
<!-- First page pagination -->
*/%> <% if (it.firstPage && it.lastPage > 0) { %>
<nav aria-label="pagination">
	<ul class="pagination">
		<li>
			<a href="/page/<%= it.lastPage %>" title="Last page" aria-label="Go to the last page of the blog">
				<span aria-hidden="true">
					<img src="/static/icons/chevron-left.svg" alt="Last page" />
				</span>
				<span class="hidden">Go to the last page of the blog</span>
			</a>
		</li>
		<li>
			<a class="btn default prev" role="button" href="/page/1" aria-label="Go to the previous set of posts">
				<span aria-hidden="true">Older Posts</span>
				<span class="hidden">Go to the previous set of posts</span>
			</a>
		</li>
	</ul>
</nav>
<% } %> <%/*
<!-- Other pages pagination -->
*/%> <% if (!it.firstPage) { %>
<nav aria-label="pagination">
	<ul class="pagination">
		<%/*
		<!-- Older posts -->
		*/%> <% if (it.paginatedPostsList.next_page) { %>
		<li>
			<a href="/page/<%= it.lastPage %>" title="Last page" aria-label="Go to the last page of the blog">
				<span aria-hidden="true">
					<img src="/static/icons/chevron-left.svg" alt="Last page" />
				</span>
				<span class="hidden">Go to the last page of the blog</span>
			</a>
		</li>
		<li>
			<a
				class="btn default prev"
				role="button"
				href="/page/<%=it.paginatedPostsList.next_page%>"
				aria-label="Go to the previous set of posts"
			>
				<span aria-hidden="true">Older Posts</span>
				<span class="hidden">Go to the previous set of posts</span>
			</a>
		</li>
		<% } %> <%/*
		<!-- Newer posts -->
		*/%> <% if (it.paginatedPostsList.prev_page) { %>
		<li>
			<a
				class="btn default next"
				role="button"
				href="/page/<%=it.paginatedPostsList.prev_page%>"
				aria-label="Go to the next set of posts"
			>
				<span aria-hidden="true">Newer Posts</span>
				<span class="hidden">Go to the next set of posts</span>
			</a>
		</li>
		<li>
			<a href="/" title="First page" aria-label="Go to the first page of the blog">
				<span aria-hidden="true">
					<img src="/static/icons/chevron-right.svg" alt="First page" />
				</span>
				<span class="hidden">Go to the first page of the blog</span>
			</a>
		</li>
		<% } else { %>
		<li>
			<a class="btn default next" role="button" href="/" aria-label="Go to the next set of posts">
				<span aria-hidden="true">Newer Posts</span>
				<span class="hidden">Go to the next set of posts</span>
			</a>
		</li>
		<li>
			<a href="/" title="First page" aria-label="Go to the first page of the blog">
				<span aria-hidden="true">
					<img src="/static/icons/chevron-right.svg" alt="First page" />
				</span>
				<span class="hidden">Go to the first page of the blog</span>
			</a>
		</li>
		<% } %>
	</ul>
</nav>
<% } %>
