<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="This is an EJS template" />
		<title>Blog-Doc | License</title>
		<% if (locals.build) { %>
		<link rel="shortcut icon" href="icons/favicon.ico" type="image/x-icon" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
			integrity="sha256-AXV9/14XTNljCQp7u3n02VIiYAICq8ocXkc11rvMlSw="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/styles.min.css" />
		<% } else { %>
		<link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon" />

		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
			integrity="sha256-AXV9/14XTNljCQp7u3n02VIiYAICq8ocXkc11rvMlSw="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.min.css" />
		<% } %>
	</head>
	<body>
		<div id="layout">
			<%- include('../components/menu') %>

			<div id="main">
				<%# Template header %>
				<div class="header">
					<h1>License</h1>
					<h2>MIT for Blog-Doc & BSD for Pure.css</h2>
				</div>

				<%# Template content %>
				<div class="content">
					<h2 class="content-subhead">Why does Blog-Doc have multiple licenses ?</h2>
					<p>
						Blog-Doc doesn't have multiple licenses !
						<br />
						Every single piece of code regarding Blog-Doc is under
						<a href="https://mit-license.org/">The MIT License</a>
						.
						<br />
						The BSD License is only for
						<a href="https://purecss.io/">Pure.css</a>
						since Blog-Doc uses it's
						<a href="https://purecss.io/layouts/side-menu/">Responsive Side Menu</a>
						layout as it's primary design.
						<br />
						If you want to use Blog-Doc with this layout, please keep the BSD license in place.
					</p>

					<h2 class="content-subhead">Which files in Blog-Doc are for Pure.css ?</h2>
					<p>
						The file related to Pure.css is in the css folder under the public folder : styles.min.css
						<br />
						This file is generated from styles.scss under the scss folder.
						<br />
						Pure.css itself is loaded from
						<a href="https://www.jsdelivr.com/">jsDelivr</a>
					</p>
					<p>
						Please remember that if you want to use Blog-Doc with this Pure.css layout, you should keep the
						BSD license in place.
					</p>

					<h2 class="content-subhead">Nota Bene</h2>
					<p>
						This page was rendered by an .ejs template, you can read more about it in the
						<a href="/templates">Templates</a>
						post.
					</p>
				</div>
			</div>
		</div>
		<%- include('../components/footer') %>
	</body>
</html>
