<% if (it.adminGallery) { %>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/filepond/dist/filepond.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fslightbox@3/index.min.js"></script>
    <% } %> <%/*
    <!-- Comment added for readability -->
    */%> <% if (it.adminConfig) { %>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <% } %> <%/*
    <!-- Comment added for readability -->
    */%> <% if (it.adminCreate || it.adminUpdate) { %>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <% } %> <%/*
    <!-- Comment added for readability -->
    */%> <% if (it.adminCreate || it.adminUpdate || it.adminTable || it.adminConfig) { %>
    <script type="module" src="/static/admin/js/admin.js"></script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <script src="/static/scripts/main.js"></script>