<div id="main" class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			{{#each posts}}
			<div class="post-preview">
				<a href="/posts/{{fileBaseName}}" rel="bookmark">
					<h2 class="post-title">{{frontmatter.title}}</h2>
					<h3 class="post-subtitle">{{frontmatter.description}}</h3>
				</a>

				<p class="post-meta">
					Posted on {{frontmatter.publish_date}}
					<br />
					<!-- Post tag(s) -->
					{{#each1 frontmatter.tags}} Tagged:
					<a href="/tags/{{this}}"><span>{{this}}</span></a>
					{{/each1}}
				</p>
			</div>

			<!-- Divider-->
			<hr class="my-4" />
			{{/each}}

			<!--Start Pagination-->
			{{#if paginated}}
			<!--Start include Pagination-->
			{{include("themes/clean-blog/components/pagination.html")}}
			<!--End include Pagination-->

			<p class="archive-link">
				All the posts can be found in the
				<a href="/posts">archive</a>
				📦
			</p>
			{{/if}}
			<!--End Pagination-->
		</div>
	</div>
</div>
