<div class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			<form id="searchForm" class="row g-3" <% if (it.build) { %>
				action="/search/index.html" method="GET" <% } else { %> action="/search" method="POST" <% } %> >
				<div>
					<label for="searchInput" class="form-label">Searchbox at your service:</label>
					<input
						id="searchInput"
						name="searchString"
						type="search"
						class="form-control"
						placeholder="Type your search's keyword(s) here..."
					/>
				</div>
				<button type="submit" class="btn btn-primary">CLICK TO LAUNCH YOUR SEARCH!</button>
			</form>
		</div>
	</div>
</div>

<div id="searchResult" class="text-center mt-3">
	<% if (!it.build) { %>
	<script>
		const searchInput = document.getElementById("searchInput")
		searchInput.focus()
	</script>
	<% if (it.resultLength > 0) { %><%/*
	<!-- Added comment for readability -->
	*/%><% if (it.resultLength >= 2) { %>
	<h3>Your search returned <%= it.resultLength %> posts</h3>
	<% } else { %>
	<h3>Your search returned 1 post</h3>
	<% } %> <% } %> <% } %>
</div>

<% if (it.results) { %> <%/*
<!-- Added comment for readability -->
*/%> <%~ include('./index.html', it) %> <%/*
<!-- Added comment for readability -->
*/%> <% } %> <%/*
<!-- Added comment for readability -->
*/%> <% if (it.noResults) { %>
<p class="text-center">
	Sorry, your search didn't return any result.
	<br />
	Please try some other keyword(s) or,
	<br />
	browse the posts in the
	<a class="archive-link" href="/posts">archive</a>
	📦
</p>
<% } %><%/*
<!-- Added comment for readability -->
*/%> <% if (it.build) { %>
<div id="main" class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			<div id="content"></div>
		</div>
	</div>
</div>
<% } %>
