<div class="card">
	<div class="card-header">
		<h3 class="card-title"><b>Routes Images</b></h3>
	</div>

	<div class="card-body">
		<%/* Blog Featured Image */%>
		<div class="mb-3">
			<label for="site-image-select" class="form-label">
				Blog Featured Image - Optional, better for design !
			</label>
			<select name="blogImage" id="site-image-select" class="form-select">
				<option value="">Choose an image from the gallery</option>
				<% if (it.settings.blogImage) { %>
				<option value="<%= it.settings.blogImage %>" selected>
					<%= it.settings.blogImage.split("/").pop() %>
				</option>
				<% let otherImages = it.images.filter(image => image !== it.settings.blogImage) %><%/*
				<!-- Display the other images from the gallery -->
				*/%> <% otherImages.forEach(image => { %> <%/*
				<!-- Get the filename of each other image -->
				*/%> <% const otherImageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= otherImageName %></option>
				<% }) %> <%/*
				<!-- If the blog doesn't have a blogImage -->
				*/%> <% } else { %> <%/*
				<!-- Comment added for readability -->
				*/%> <% it.images.forEach(image => { %> <%/*
				<!-- Get the filename of each image -->
				*/%> <% const imageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= imageName %></option>
				<% }) %> <% } %>
			</select>
		</div>

		<%/* Archive Featured Image */%>
		<div class="mb-3">
			<label for="archive-image-select" class="form-label">
				Archive Featured Image - Optional, better for design !
			</label>
			<select name="archiveImage" id="archive-image-select" class="form-select">
				<option value="">Choose an image from the gallery</option>
				<% if (it.settings.archiveImage) { %>
				<option value="<%= it.settings.archiveImage %>" selected>
					<%= it.settings.archiveImage.split("/").pop() %>
				</option>
				<% let otherImages = it.images.filter(image => image !== it.settings.archiveImage) %><%/*
				<!-- Display the other images from the gallery -->
				*/%> <% otherImages.forEach(image => { %> <%/*
				<!-- Get the filename of each other image -->
				*/%> <% const otherImageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= otherImageName %></option>
				<% }) %> <%/*
				<!-- If the archive doesn't have an archiveImage -->
				*/%> <% } else { %> <%/*
				<!-- Comment added for readability -->
				*/%> <% it.images.forEach(image => { %> <%/*
				<!-- Get the filename of each image -->
				*/%> <% const imageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= imageName %></option>
				<% }) %> <% } %>
			</select>
		</div>

		<%/* Tags Featured Image */%>
		<div class="mb-3">
			<label for="tags-image-select" class="form-label">
				Tags Featured Image - Optional, better for design !
			</label>
			<select name="tagsImage" id="tags-image-select" class="form-select">
				<option value="">Choose an image from the gallery</option>
				<% if (it.settings.tagsImage) { %>
				<option value="<%= it.settings.tagsImage %>" selected>
					<%= it.settings.tagsImage.split("/").pop() %>
				</option>
				<% let otherImages = it.images.filter(image => image !== it.settings.tagsImage) %><%/*
				<!-- Display the other images from the gallery -->
				*/%> <% otherImages.forEach(image => { %> <%/*
				<!-- Get the filename of each other image -->
				*/%> <% const otherImageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= otherImageName %></option>
				<% }) %> <%/*
				<!-- If the tags doesn't have a tagsImage -->
				*/%> <% } else { %> <%/*
				<!-- Comment added for readability -->
				*/%> <% it.images.forEach(image => { %> <%/*
				<!-- Get the filename of each image -->
				*/%> <% const imageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= imageName %></option>
				<% }) %> <% } %>
			</select>
		</div>

		<%/* Tag Featured Image */%>
		<div class="mb-3">
			<label for="tag-image-select" class="form-label">Tag Featured Image - Optional, better for design !</label>
			<select name="tagImage" id="tag-image-select" class="form-select">
				<option value="">Choose an image from the gallery</option>
				<% if (it.settings.tagImage) { %>
				<option value="<%= it.settings.tagImage %>" selected>
					<%= it.settings.tagImage.split("/").pop() %>
				</option>
				<% let otherImages = it.images.filter(image => image !== it.settings.tagImage) %><%/*
				<!-- Display the other images from the gallery -->
				*/%> <% otherImages.forEach(image => { %> <%/*
				<!-- Get the filename of each other image -->
				*/%> <% const otherImageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= otherImageName %></option>
				<% }) %> <%/*
				<!-- If the tag doesn't have a tagImage -->
				*/%> <% } else { %> <%/*
				<!-- Comment added for readability -->
				*/%> <% it.images.forEach(image => { %> <%/*
				<!-- Get the filename of each image -->
				*/%> <% const imageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= imageName %></option>
				<% }) %> <% } %>
			</select>
		</div>

		<%/* Search Featured Image */%>
		<div class="mb-3">
			<label for="search-image-select" class="form-label">
				Search Featured Image - Optional, better for design !
			</label>
			<select name="searchImage" id="search-image-select" class="form-select">
				<option value="">Choose an image from the gallery</option>
				<% if (it.settings.searchImage) { %>
				<option value="<%= it.settings.searchImage %>" selected>
					<%= it.settings.searchImage.split("/").pop() %>
				</option>
				<% let otherImages = it.images.filter(image => image !== it.settings.searchImage) %><%/*
				<!-- Display the other images from the gallery -->
				*/%> <% otherImages.forEach(image => { %> <%/*
				<!-- Get the filename of each other image -->
				*/%> <% const otherImageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= otherImageName %></option>
				<% }) %> <%/*
				<!-- If the search doesn't have a searchImage -->
				*/%> <% } else { %> <%/*
				<!-- Comment added for readability -->
				*/%> <% it.images.forEach(image => { %> <%/*
				<!-- Get the filename of each image -->
				*/%> <% const imageName = image.split("/").pop() %>
				<option value="/<%= image %>"><%= imageName %></option>
				<% }) %> <% } %>
			</select>
		</div>
	</div>
</div>
