<div class="card">
	<div class="card-header">
		<h3 class="card-title"><b>Site Settings</b></h3>
	</div>

	<div class="card-body">
		<%/* Site Title */%>
		<div class="mb-3">
			<label for="site-title" class="form-label">
				<b>Site title* - REQUIRED !</b>
			</label>
			<input
				type="text"
				id="site-title"
				name="siteTitle"
				class="form-control"
				value="<%= it.settings.siteTitle %>"
				placeholder="Type your site title here"
				required
			/>
			<div class="invalid-tooltip">Site title cannot be empty !</div>
		</div>

		<%/* Site Description */%>
		<div class="mb-3">
			<label for="site-description" class="form-label">
				<b>Site description* - REQUIRED !</b>
			</label>
			<input
				type="text"
				id="site-description"
				name="siteDescription"
				class="form-control"
				value="<%= it.settings.siteDescription %>"
				placeholder="Type your site description here"
				required
			/>
			<div class="invalid-tooltip">Site description cannot be empty !</div>
		</div>

		<%/* Site URL */%>
		<div class="mb-3">
			<label for="site-url" class="form-label">
				<b>Site URL* - REQUIRED !</b>
			</label>
			<div class="invalid-tooltip">Site URL must start with https !</div>
			<input
				type="url"
				id="site-url"
				name="siteURL"
				class="form-control"
				value="<%= it.settings.siteURL %>"
				placeholder="https://my-domaine-name.com"
				pattern="https://.*"
				required
			/>
			<div class="invalid-tooltip">Site URL cannot be empty !</div>
		</div>
	</div>
</div>
