<!-- First page pagination -->
{{#if firstPage && lastPage > 0}}
<div class="d-flex justify-content-end mb-4">
	<a class="btn btn-info text-uppercase" href="/page/1">← Older Posts</a>
</div>
{{/if}}

<!-- Other pages pagination -->
{{#not firstPage}}
<div class="d-flex justify-content-between mb-4">
	<!-- Older Posts -->
	{{#if paginatedPostsList.next_page}}
	<a class="btn btn-info text-uppercase" href="/page/{{paginatedPostsList.next_page}}">← Older Posts</a>
	{{/if}}

	<!-- Newer Posts -->
	{{#if paginatedPostsList.prev_page}}
	<a class="btn btn-info text-uppercase" href="/page/{{paginatedPostsList.prev_page}}">Newer Posts →</a>
	{{#else}}
	<a class="btn btn-info text-uppercase" href="/">Newer Posts →</a>
	{{/if}}
</div>
{{/not}}
