<div class="d-flex justify-content-center mb-4">
	{{#if prevPost !== null}}
	<a
		class="btn btn-info text-uppercase m-1"
		href="/posts/{{prevPost.fileBaseName}}"
		aria-label="Go to the previous post"
	>
		<span aria-hidden="true">Previous: {{prevPost.title}}</span>
		<span class="visually-hidden">Go to the previous post</span>
	</a>
	{{/if}}

	<!--Dynamic Markup Separator-->

	{{#if nextPost !== null}}
	<a
		class="btn btn-info text-uppercase m-1"
		href="/posts/{{nextPost.fileBaseName}}"
		aria-label="Go to the next post"
	>
		<span aria-hidden="true">Next: {{nextPost.title}}</span>
		<span class="visually-hidden">Go to the next post</span>
	</a>
	{{/if}}
</div>
