<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<%/* Main menu button toggler for mobile */%>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#sidebar-menu"
			aria-controls="sidebar-menu"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<%/* Logo */%>
		<h1 class="navbar-brand navbar-brand-autodark">
			<a href="/admin">
				<%/* visible below md */%>
				<img src="/static/admin/images/logo.svg" alt="Blog-Doc" class="d-md-none navbar-brand-image" />
				<%/* visible only on md */%>
				<img
					src="/static/admin/images/logo.svg"
					alt="Blog-Doc"
					class="d-none d-md-block d-lg-none navbar-brand-image"
				/>
				<%/* hidden below lg */%>
				<img src="/static/admin/images/logo.svg" alt="Blog-Doc" class="d-none d-lg-block navbar-brand-image" />
			</a>
		</h1>

		<%/* Secondary menu button for mobile */%>
		<div class="navbar-nav flex-row d-lg-none">
			<div class="nav-item dropdown">
				<a
					href="#"
					class="nav-link d-flex lh-1 text-reset p-0"
					data-bs-toggle="dropdown"
					aria-label="Open user menu"
				>
					<span class="avatar avatar-sm" style="background-image: url(/static/icons/favicon.ico)"></span>
				</a>
				<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
					<a href="/" class="dropdown-item">Home</a>
					<a href="/admin-pages" class="dropdown-item">Pages</a>
					<a href="/admin-posts" class="dropdown-item">Posts</a>
					<a href="/admin-create" class="dropdown-item">New</a>
					<a href="/admin/gallery/icons" class="dropdown-item">Icons gallery</a>
					<a href="/admin/gallery/images" class="dropdown-item">Images gallery</a>
					<div class="dropdown-divider"></div>
					<a href="/admin-config-site" class="dropdown-item">Site Settings</a>
					<a href="/admin-config-menu" class="dropdown-item">Menu Settings</a>
					<% if (it.admin) { %>
					<div class="dropdown-divider"></div>
					<button class="dropdown-item text-instagram bd-trigger" type="button">Build Static Site</button>
					<% } %>
				</div>
			</div>
		</div>

		<%/* Main menu */%>
		<div class="collapse navbar-collapse" id="sidebar-menu">
			<ul class="navbar-nav pt-lg-3">
				<%/* Home link. Single list item with no children. */%>
				<li class="nav-item">
					<a class="nav-link" href="/">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M5 12l-2 0l9 -9l9 9l-2 0" />
								<path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
								<path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
							</svg>
						</span>
						<span class="nav-link-title">Home</span>
					</a>
				</li>

				<%/* Pages link. Single list item with no children. */%>
				<li class="nav-item">
					<a class="nav-link" href="/admin-pages">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-file-text"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
								<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
								<path d="M9 9l1 0"></path>
								<path d="M9 13l6 0"></path>
								<path d="M9 17l6 0"></path>
							</svg>
						</span>
						<span class="nav-link-title">Pages</span>
					</a>
				</li>

				<%/* Posts link. Single list item with no children. */%>
				<li class="nav-item">
					<a class="nav-link" href="/admin-posts">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-file-pencil"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
								<path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
								<path d="M10 18l5 -5a1.414 1.414 0 0 0 -2 -2l-5 5v2h2z"></path>
							</svg>
						</span>
						<span class="nav-link-title">Posts</span>
					</a>
				</li>

				<%/* Create link. Single list item with no children. */%>
				<li class="nav-item">
					<a class="nav-link" href="/admin-create">
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-text-plus"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M19 10h-14"></path>
								<path d="M5 6h14"></path>
								<path d="M14 14h-9"></path>
								<path d="M5 18h6"></path>
								<path d="M18 15v6"></path>
								<path d="M15 18h6"></path>
							</svg>
						</span>
						<span class="nav-link-title">New</span>
					</a>
				</li>

				<%/* GALLERIES - Since v2.5.0 */%>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#navbar-help"
						data-bs-toggle="dropdown"
						data-bs-auto-close="false"
						role="button"
						aria-expanded="false"
					>
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-photo"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M15 8h.01"></path>
								<path
									d="M3 6a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v12a3 3 0 0 1 -3 3h-12a3 3 0 0 1 -3 -3v-12z"
								></path>
								<path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l5 5"></path>
								<path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l3 3"></path>
							</svg>
						</span>
						<span class="nav-link-title">Gallery</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admin/gallery/images">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-album"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									stroke-width="2"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path
										d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
									/>
									<path d="M12 4v7l2 -2l2 2v-7" />
								</svg>
							</span>
							<span class="nav-link-title">Images</span>
						</a>
						<a class="dropdown-item" href="/admin/gallery/icons">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-icons"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									stroke-width="2"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M6.5 6.5m-3.5 0a3.5 3.5 0 1 0 7 0a3.5 3.5 0 1 0 -7 0" />
									<path d="M2.5 21h8l-4 -7z" />
									<path d="M14 3l7 7" />
									<path d="M14 10l7 -7" />
									<path d="M14 14h7v7h-7z" />
								</svg>
							</span>
							<span class="nav-link-title">Icons</span>
						</a>
					</div>
				</li>

				<%/* SETTINGS */%>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#navbar-help"
						data-bs-toggle="dropdown"
						data-bs-auto-close="false"
						role="button"
						aria-expanded="false"
					>
						<span class="nav-link-icon d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-adjustments-alt"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M4 8h4v4h-4z"></path>
								<path d="M6 4l0 4"></path>
								<path d="M6 12l0 8"></path>
								<path d="M10 14h4v4h-4z"></path>
								<path d="M12 4l0 10"></path>
								<path d="M12 18l0 2"></path>
								<path d="M16 5h4v4h-4z"></path>
								<path d="M18 4l0 1"></path>
								<path d="M18 9l0 11"></path>
							</svg>
						</span>
						<span class="nav-link-title">Settings</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/admin-config-site">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-world-www"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									stroke-width="2"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4"></path>
									<path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4"></path>
									<path d="M12.5 3a16.989 16.989 0 0 1 1.828 4"></path>
									<path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4"></path>
									<path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4"></path>
									<path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4"></path>
									<path d="M2 10l1 4l1.5 -4l1.5 4l1 -4"></path>
									<path d="M17 10l1 4l1.5 -4l1.5 4l1 -4"></path>
									<path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4"></path>
								</svg>
							</span>
							<span class="nav-link-title">Site</span>
						</a>
						<a class="dropdown-item" href="/admin-config-menu">
							<span class="nav-link-icon d-md-none d-lg-inline-block">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-menu-order"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									stroke-width="2"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 10h16"></path>
									<path d="M4 14h16"></path>
									<path d="M9 18l3 3l3 -3"></path>
									<path d="M9 6l3 -3l3 3"></path>
								</svg>
							</span>
							<span class="nav-link-title">Menu</span>
						</a>
					</div>
				</li>

				<% if (it.admin) { %>
				<li class="nav-item">
					<button class="btn btn-action nav-link bd-trigger" type="button">
						<span class="nav-link-icon text-pink d-md-none d-lg-inline-block">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-hammer"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								stroke-width="2"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path
									d="M11.414 10l-7.383 7.418a2.091 2.091 0 0 0 0 2.967a2.11 2.11 0 0 0 2.976 0l7.407 -7.385"
								></path>
								<path
									d="M18.121 15.293l2.586 -2.586a1 1 0 0 0 0 -1.414l-7.586 -7.586a1 1 0 0 0 -1.414 0l-2.586 2.586a1 1 0 0 0 0 1.414l7.586 7.586a1 1 0 0 0 1.414 0z"
								></path>
							</svg>
						</span>
						<span class="nav-link-title text-pink">Build Static Site</span>
					</button>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</aside>
