<div class="card">
	<div class="card-header">
		<h3 class="card-title"><b>Posts Settings</b></h3>
	</div>

	<div class="card-body">
		<%/* Posts per page */%>
		<div class="mb-3">
			<label for="posts-per-page" class="form-label">
				<b>Posts per page* - REQUIRED !</b>
			</label>
			<div class="invalid-tooltip">Posts per page is from 1 to 10</div>
			<input
				type="number"
				id="posts-per-page"
				name="postsPerPage"
				class="form-control"
				value="<%= it.settings.postsPerPage %>"
				placeholder="Number of posts per page for the blog"
				min="1"
				max="10"
				required
			/>
			<div class="invalid-tooltip">Number of posts cannot be empty !</div>
		</div>

		<%/* Post Preview Fallback Image */%>
		<div class="mb-3"><%~ include('../../components/modals/postPreviewFallbackImageModal.html', it) %></div>
	</div>
</div>
