<style>
	.invisible {
		visibility: hidden;
	}

	.overlay {
		position: fixed;
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 2;
		letter-spacing: normal;
		overflow-x: hidden;
		transition: 0.5s;
	}

	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.overlay li {
		list-style: none;
	}

	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.overlay a:hover,
	.overlay a:focus {
		color: #f1f1f1;
		background-color: #222;
		border: 1px solid red;
		border-style: dashed;
	}

	.overlay .close-button {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}
</style>

<div id="main-nav" aria-label="Main navigation" class="overlay invisible" tabindex="-1">
	<a href="#" id="close-button" class="close-button" aria-label="Close menu" title="Close menu">&times;</a>

	<div class="overlay-content">
		<a href="/">Home</a>

		{{#each menuLinks}}
		<li class="pure-menu-item">
			<a href="{{linkTarget}}">{{linkTitle}}</a>
		</li>
		{{/each}}
	</div>
</div>
